* { transition: all .4s ease-in-out 0s; }

.navbar-brand { max-width: 225px; padding: 0; }
.navbar-brand img { max-width: 100%; }
.form-ul-wrap { padding-top: 15px; }

.auto-banner { background: url(../img/young-woman-receiving-keys-new-car-her-53965023.jpg) no-repeat center center /cover; height: 600px; }
.auto-banner .search-form { background: #f4f4f4; border: 3px solid #0c8548; border-radius: 15px; margin-top: 70px; }

.featured-listing .card, .recent-listing .card { width: 33.3333333%; border: none; float: left; margin-bottom: 0; overflow: hidden; border-radius: 0; }
.featured-listing .card>img { max-width: 100%; max-height: 100%; transform: scale(1.3); height: 225px; width: 100%; }
.featured-listing .card>img:hover { transform: scale(1);}
.featured-listing .card-text { position: absolute; bottom: 10px; left: 10px; color: #fff; font-weight: bold; }

.recent-listing>.container>.row { margin-left: -21px; margin-right: -21px; }
.recent-listing .card { border-radius: 0; width: 25%; }
.recent-listing .card img { height: 175px; width: 100%; }
.recent-listing .card:hover, .recent-listing .card:focus { box-shadow: 0 20px 10px -10px #888; transform: translate(0,-15px); }
.recent-listing .card:hover img, .recent-listing .card:focus img { transform: scale(1.1); }
.card-wrap { margin: 7px; background: #f4f4f4; border: 1px solid #ddd; overflow: hidden; }
.recent-listing .btn { width: 45%; margin: 0 1%; padding-left: 0; padding-right: 0; }

.popular-listing h2 { background:#0c8548; color: #fff; font-size: 21px; padding: 10px; }
.popular-listing a { color: #333; font-size: 14px; }

.foo { background: #595959; color: #fff; }
.foo a { color: #fff; }
.foo li { padding: 7px 0; }
.foo .fa { font-size: 35px; margin: 10px 2px; }
.foo .fa:hover { color: #0c8548; }
.copyright { background:#0c8548; }
.copyright a { text-decoration: underline; }

/******************Common Class********************/
.btn { border-radius: 0 !important; outline: none !important; color: #fff; }
.btn-primary { background-color: #068149; border-color: #04683b; }
.btn-primary:hover, .btn-primary:focus { background-color: #15945a; }
.btn-default { background-color: #595959; border-color: #424242; }
.btn-default:hover, .btn-default:focus { background: #777; }
.btn-success { background-color: #118149; border-color: #047c40; }
.pos-rel { position: relative; }
.overlay { position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: .4; background: #000; }
.opacity5 { opacity: .5; }
.img-res { max-width: 100%; max-height: 100%; }